body {
    margin: 0;
    background: #F6F5FB;
}

/* Estilo load page */

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('img/loadPage.svg');
    background-color: #283242;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-page h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FFFFFF;
    margin: 0;
}

#progress-container {
    margin-top: 10px;
}
#progress-bar {
    position: relative;
    width: 50px;
    height: 50px;
    border: 5px solid #283242;;
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Estilo da barra de navegação e links */

a {
    text-decoration: none;
    color: #2A3342;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    justify-content: space-between;
}
.navBar {
    width: 55%;
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.navBar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 55px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #2A3342;
    padding: 0 0 0 45px;
}
header button {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 36px;
    width: 123px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-right: 40px;
    cursor: pointer;
}

header button:hover {
    background: #D1D1D1;
}
/* Estilo do banner principal da main */

main img {
    width: 100%;
}

/* Estilo dos cards */

section {
    margin-top: -4px;
}
#cards {
    display: flex;
    gap: 24px;
    margin-top: 35px;
    margin-bottom: 38px;
}

.card {
    width: 330px;
    height: 337px;
    border: 1px solid #EDEBE9;
    border-radius: 8px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 52px;
    margin-left: 24px;
}



.textCard {
    overflow: hidden;
}

.card p {
    position: relative;
    padding: 16px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #252423;
    margin-top: -5px;
    margin-bottom: 0;
}

.btnCard {
    text-align: center;
    visibility: hidden;
}
.btnCard button{
    top: 337px;
    background: #2A3342;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 202px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #F6F5FB;
    text-align: center;
    cursor: pointer;
}

/* Estilo utilizado pela função toggle no js */

.card-highLigth {
    height: 500px;
}

/* Estilo do modal */

#modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(217, 217, 217, 0.7);
    visibility: hidden;
}

#modal-card {
    background: white;
    width: 671px;
    height: 581px;
    border-radius: 20px;

}

#closeModal img {
    margin-top: 31.75px;
    margin-left: 628.25px;
}

#modal-card h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    margin-top: 37.75px;
    
}

#modal-card p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    margin-top: 69px;
    text-align: center;
    color: #000000;
    padding: 0 52px 0 51px;
}

#logoModal img{
    margin-top: 20px;
    margin-left: 270px;
}

#textModalAt h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 39px;
    line-height: 20px;
    color: #000000;
    margin-top: 70.75px;
}

#textModalAt p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    padding: 0 57px 0 46px;
}

#buttonModal {
    text-align: center;
    
}
#buttonModal button {
    background: #2A3342;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 253px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #F6F5FB;
    margin-top: 65px;
    cursor: pointer;
}

/* Animação de loading */

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}